main {
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: 1fr 12fr 2fr;
}

#gameLog {
    grid-column: 2;
    grid-row: 2 / span 2;
    max-height: 12em;
    overflow-y: scroll;
}

#controls {
    grid-column: 1;
    grid-row: 1;
}

#gameCanvas {
    grid-column: 1;
    grid-row: 2;
}

#gameInfo {
    grid-column: 1;
    grid-row: 3;
}
