main {
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: 5% 80% 15%;
}

#gameLogWrapper {
    grid-column: 2;
    grid-row: 2;
    overflow-y: scroll;
    max-height: 35em;
}

#controls {
    grid-column: 1;
    grid-row: 1;
}

#gameCanvas {
    grid-column: 1;
    grid-row: 2;
}

#gameInfoWrapper {
    grid-column: 1;
    grid-row: 3;
}

#gameInfoHeader {
    display: flex;
    align-items: center;
}

#confirmMoveBtn {
    display: none;
}
